@import "./variables";
html {
	font-size: 60%;
	font-family: "Helvetica Neue", sans-serif;
}

body {
	max-width: 38em;
	margin: auto;
	padding: 13px;
	color: #4a4a4a;
	font-size: 1.8rem;
	background-color: #f9f9f9;
}
