@import "./variables";

html {
  font-family: "Helvetica Neue", sans-serif;
}

body {
  max-width: 50%;
  margin: auto;
  padding: 1rem;
  color: #4a4a4a;
  font-size: 2rem;
  background-color: #f9f9f9;
}
